.polaroid{
    max-width: 300px;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
    margin-bottom: 20px;
}

.container{
    text-align: center;
    padding: 10px 10px;
}

.Rows {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.Columns {
    display: table-cell;
    background-color: white;
}